name: CI

on: [push, pull_request]

jobs:
  build-ubuntu:
    strategy:
      matrix:
        platform: [ubuntu-latest,ubuntu-16.04]
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        sudo apt-get -qq update
        sudo apt-get install autoconf automake pkg-config libevent-dev libpcre3-dev libssl-dev
    - name: Install dependencies ubuntu 16.04
      if: matrix.platform == 'ubuntu-16.04'
      run: |
        sudo apt-get -qq update
        sudo apt-get purge libssl-dev
        sudo apt-get install libssl1.0.0
        sudo apt-get install autoconf automake pkg-config libevent-dev libpcre3-dev
    - name: Build
      run: autoreconf -ivf && ./configure && make
    - name: Setup Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.6'

    - name: Cache pip
      uses: actions/cache@v1
      with:
        path: ~/.cache/pip # This path is specific to Ubuntu
        # Look to see if there is a cache hit for the corresponding requirements file
        key: ${{ runner.os }}-pip-${{ hashFiles('tests/test_requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-
    - name: Install Python dependencies
      run: pip install -r tests/test_requirements.txt

    - name: Install Redis Server test dependencies
      run: |
        git clone git://github.com/antirez/redis.git --branch unstable
        cd redis
        make BUILD_TLS=yes
        ./utils/gen-test-certs.sh
        ./src/redis-server --version
        cd ..

    - name: Test OSS TCP
      run: |
        cd tests 
        MEMTIER_BINARY=./../memtier_benchmark \
        python3 -m RLTest \
        --env oss -v --clear-logs \
        --oss-redis-path ../redis/src/redis-server
        cd ..

    - name: Test OSS TCP TLS
      run: |
        cd tests
        TLS_CERT=../redis/tests/tls/redis.crt \
        TLS_KEY=../redis/tests/tls/redis.key \
        TLS_CACERT=../redis/tests/tls/ca.crt \
        MEMTIER_BINARY=../memtier_benchmark \
        python3 -m RLTest \
          --env oss -v --clear-logs \
          --oss-redis-path ../redis/src/redis-server \
          --tls-cert-file ../redis/tests/tls/redis.crt \
          --tls-key-file ../redis/tests/tls/redis.key \
          --tls-ca-cert-file ../redis/tests/tls/ca.crt \
          --tls
        cd ..

    - name: Test OSS-CLUSTER TCP
      run: |
        cd tests 
        MEMTIER_BINARY=./../memtier_benchmark \
        python3 -m RLTest \
        --env oss-cluster -v --clear-logs --shards-count 3 \
        --oss-redis-path ../redis/src/redis-server
        cd ..

    - name: Test OSS-CLUSTER TCP TLS
      run: |
        cd tests
        TLS_CERT=../redis/tests/tls/redis.crt \
        TLS_KEY=../redis/tests/tls/redis.key \
        TLS_CACERT=../redis/tests/tls/ca.crt \
        MEMTIER_BINARY=../memtier_benchmark \
        python3 -m RLTest \
          --env oss-cluster --shards-count 3 -v --clear-logs \
          --oss-redis-path ../redis/src/redis-server \
          --tls-cert-file ../redis/tests/tls/redis.crt \
          --tls-key-file ../redis/tests/tls/redis.key \
          --tls-ca-cert-file ../redis/tests/tls/ca.crt \
          --tls
        cd ..

  build-macos:
    strategy:
      matrix:
        platform: [macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: brew install autoconf automake libtool libevent pkg-config openssl@1.1
    - name: Build
      run: autoreconf -ivf && PKG_CONFIG_PATH=/usr/local/opt/openssl@1.1/lib/pkgconfig ./configure && make
